### Application: Develop a process to compute potential insurance payouts informed by conflict return period thresholds.

#### Contextual information

<span style="color:red">Guidance provided by Håvard</span>

1. Start out with a dataset with rows for each grid cell year 
2. Identify the cells for a country for each year that qualify to each of the thresholds and set the payout rate as a value in a column for each cell year 
3. Multiply the payout with the population in the cell in a new column to get the population-weighted payout 
4. Sum the population-weighted payout for each country year 
5. Divide the summed population-weighted payout for each country year by the country’s total population 

<span style="color:red">Sentence structure example provided by Jerry</span>

To make this a bit more clear, let's assume you have two grids that have 100 percent payout rate. These grids each have 1 percent of the countries population. The national number is = 100 x.01 + 100 x .01 or 2 percent. That 2 percent value represents the payout rate for the nation. The protection level of $1M for the national would pay 2 percent of $1M.  

<span style="color:red">Key difference to explore</span>

what effect does the order of operations have, to adjust calculating proportional population as the third task rather than fifth, on the resulting payout metric?

### Locate necessary files:

The function used to generate the complete payout table requires 5 parameters. To keep this focus constrained to the processes generating the final payout value, preceding steps to compute the necessary tables are ommitted. If you have an interest in exploring this information, the Benz_Graphics branch is updated and contains an .ipynb referenced to generate all tables and infographics. 

**base files relevant for this review:**
- x: <span style="color:lightblue">/.../VIEWS_FAO_index/notebooks/methods/Proof_For_Summary_Table/Example_dataframe.csv</span>
- y: <span style="color:lightblue">/.../VIEWS_FAO_index/notebooks/methods/Proof_For_Summary_Table/y__annual_summary_intensity.csv</span>
- z: <span style="color:lightblue">/.../VIEWS_FAO_index/notebooks/methods/Proof_For_Summary_Table/z__raw_insurance_table.csv</span>
- info_df: <span style="color:lightblue">/.../VIEWS_FAO_index/notebooks/methods/Proof_For_Summary_Table/Example_return_period_ranges.csv</span>

#### Address the requirement for multiple input tables:

- `x` is the main DataFrame. It contains the most granular data, with fields such as [pg_id, year, fatalities_sum, pop_gpw_sum, percapita_100k]. This represents the most disaggregated information.

- `y` contains summary statistics, including fields like 'max' and 'average'. This table was initially requested by Jerry on XX to complement specific analysis needs.

- `z` is the original, unrevised "insurance payout table." It communicates the floor thresholds associated with each return period and the respective payout rates. 

- `info_df` is used primarily for formatting graphics and aids in deriving a range that facilitates feature engineering.

These seemingly arbitrary names are intentionally chosen. Using easily distinguishable variable names facilitates the differentiation between tables that contain closely related information. For instance, the term "annual table" could apply to both **`y`** and the resulting payout table, which may lead to confusion. Similarly, a variable named "insurance" could be misinterpreted as referring to either **`info_df`** or **`z`**. Each table contains unique fields that need to remain distinguishable, yet all are collectively integrated in the final payout table through the `append_return_periods_to_annual_table` function.

Table y offers the least intuitive contribution to the final payout table; We aim to retain the ability to sort the comprehensive table by magnitude or intensity, ensuring flexibility in analysis.

#### Load the csv files

In [3]:
import os
import pandas as pd

#SET PATH TO FILES
#--------------------------------------------------------------------------------------------
main_dir = os.getcwd()
#--------------------------------------------------------------------------------------------
#Load files:
example_dataframe_path = os.path.join(main_dir, 'Example_dataframe.csv')
example_return_period_ranges = os.path.join(main_dir, 'Example_return_period_ranges.csv')
#--------------------------------------------------------------------------------------------
original_insurance_table = os.path.join(main_dir, 'z__raw_insurance_table.csv')
example_return_period_ranges = os.path.join(main_dir, 'Example_return_period_ranges.csv')
#--------------------------------------------------------------------------------------------
annual_intensity_table = os.path.join(main_dir, 'y__annual_summary_intensity.csv')
#--------------------------------------------------------------------------------------------
# access the files
x = pd.read_csv(example_dataframe_path, index_col=None)
y = pd.read_csv(annual_intensity_table, index_col=None)
#--------------------------------------------------------------------------------------------
z = pd.read_csv(original_insurance_table, index_col=None)
filtered_info = pd.read_csv(example_return_period_ranges, index_col=None)
#--------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------
print('This provides a review of x:')
print()
display(x.head(5))
print()
print('This provides a review of y')
display(y)
print()
print('This provides a review of z:')
display(z)
print()
print('This provides a review of filtered_info:')
display(filtered_info)

This provides a review of x:

   Unnamed: 0   pg_id  year  fatalities_sum   pop_gpw_sum  percapita_100k
0           0  135077  1993             0.0  15539.840820             0.0
1           1  135077  1994             0.0  16002.742188             0.0
2           2  135077  1995             0.0  16465.642578             0.0
3           3  135077  1996             0.0  16904.835938             0.0
4           4  135077  1997             0.0  17344.029297             0.0

This provides a review of y

    Unnamed: 0  year  first_value  second_value  third_value  average_value
0            0  1993       1001.0          36.0         35.0       2.112597
1            1  1994         50.0           6.0          1.0       0.105850
2            2  1995       1000.0           4.0          2.0       1.815305
3            3  1996         53.0          13.0          3.0       0.126491
4            4  1997          3.0           3.0          3.0       0.020539
5            5  1998        350.0         350.0        105.0       1.646984
6            6  1999       2012.0         311.0        311.0       4.476562
7            7  2000        121.0         104.0         65.0       0.662595
8            8  2001         43.0          40.0         36.0       0.429151
9            9  2002        190.0         170.0         75.0       1.100403
10          10  2003        426.0         280.0         61.0       1.475597
11          11  2004        168.0          92.0         64.0       0.599590
12          12  2005         43.0          43.0         36.0       0.314118
13          13  2006        101.0         100.0         89.0       0.632144
14          14  2007        104.0          59.0         53.0       0.579524
15          15  2008         85.0          50.0         33.0       0.347223
16          16  2009         71.0          25.0         21.0       0.300913
17          17  2010        120.0           3.0          1.0       0.159006
18          18  2011         15.0           5.0          2.0       0.030048
19          19  2012        137.0          57.0         45.0       0.348059
20          20  2013         35.0          32.0         11.0       0.133965
21          21  2014          7.0           7.0          5.0       0.033804
22          22  2015         95.0          62.0         37.0       0.369344
23          23  2016         75.0          75.0         34.0       0.572170
24          24  2017        130.0         102.0         77.0       0.587194
25          25  2018         63.0          55.0         54.0       0.612234
26          26  2019         78.0          60.0         26.0       0.477017
27          27  2020        898.0         544.0        375.0       6.134860

This provides a review of z:

   Unnamed: 0 Percentile  fatalities_sum  Occurrence Return Period Payout Rate
0           0         90             0.0           0          10.0         30%
1           1         95             0.0       10017          20.0         55%
2           2         96             1.0         214          25.0   undefined
3           3         98             8.0         108          50.0         75%
4           4         99            31.0         105         100.0        100%
5           5        max          2012.0           1            --          --

This provides a review of filtered_info:

   Unnamed: 0  Return Period          Range               Label
0           0              0        0 - 0.0  Below 1 in 10 year
1           1             10      0.0 - 1.0        1 in 10 year
2           2             20      1.0 - 8.0        1 in 20 year
3           3             50     8.0 - 31.0        1 in 50 year
4           4            100  31.0 - 100000       1 in 100 year

### Load the function: `append_return_periods_to_annual_table`

In addition to the previously defined DataFrames x, y, z, and filtered_info, two additional parameters must be specified when using this function.

- **Attribute Designation:** The user is required to identify the attribute that corresponds to the construction of the x, y, z, and filtered_info tables. In this application, the relevant field used is <span style="color:red">'fatalities_sum'</span> .

- **Population Field Reference:** The user must also provide the name of the population field. This is important as it ensures that the code remains adaptable for scenarios where different population data might be utilized in the future, requiring a unique field name distinct from the one currently being evaluated. The field for this use-case is <span style="color:red"> pop_gpw_sum </span> 

- **Return Period Statistic** Similarly, designate the return period type. The parameter expects one of two strings:
    - Country year -- this is the 'little p' method 
    - Event year -- this is the 'big p' method
    - This analysis employs the 'little p' method so <span style="color:red">Country year</span> will be inserted as the parameter

Information on these methods is present in the glossary markdown file located in VIEWS_FAO_INDEX/docs

In [4]:
from generate_payout_table import append_return_periods_to_annual_table

#### Run the function:

Proceeding steps will then break down the two processes considered

In [5]:
table = append_return_periods_to_annual_table(x, y, z, filtered_info, 'fatalities_sum', 'pop_gpw_sum', 'Country year')

display(table)

you are working with the country year -- little p --  return period type...
{'10.0': '30%', '20.0': '55%', '25.0': 'undefined', '50.0': '75%', '100.0': '100%', '--': '--'}
['Unnamed: 0', 'count_10', 'count_100', 'count_20', 'count_50', 'pop prop_10', 'pop prop_100', 'pop prop_20', 'pop prop_50', 'pop sum_10', 'pop sum_100', 'pop sum_20', 'pop sum_50', 'pay weight 10', 'pay weight 20', 'pay weight 50', 'pay weight 100']
['count_100', 'pop prop_100', 'pop sum_100', 'pay weight 100', 'count_50', 'pop prop_50', 'pop sum_50', 'pay weight 50', 'count_20', 'pop prop_20', 'pop sum_20', 'pay weight 20', 'count_10', 'pop prop_10', 'pop sum_10', 'pay weight 10', 'Unnamed: 0']

,year,first_value,average_value,count_100,pop prop_100,pop sum_100,pay weight 100,count_50,pop prop_50,pop sum_50,...,pop sum_20,pay weight 20,count_10,pop prop_10,pop sum_10,pay weight 10,Unnamed: 0,weight_rp,payout rate (%),Total Payout
0,1993,1001.0,2.112597,3,0.001282,6.853750e+04,0.128248,2,0.004828,2.580117e+05,...,2.635229e+04,0.027121,395,0.993396,5.308843e+07,29.801894,0,4370,30.319359,303193.587952
1,1994,50.0,0.105850,1,0.000345,1.859967e+04,0.034540,0,0.000000,0.000000e+00,...,4.420798e+05,0.451522,369,0.991445,5.338918e+07,29.743353,1,3830,30.229415,302294.151281
2,1995,1000.0,1.815305,1,0.004749,2.631589e+05,0.474864,0,0.000000,0.000000e+00,...,1.779443e+06,1.766031,369,0.963142,5.337508e+07,28.894251,2,3830,31.135147,311351.465864
3,1996,53.0,0.126491,1,0.000514,2.926424e+04,0.051412,1,0.000295,1.680782e+04,...,1.861178e+06,1.798365,367,0.966493,5.501378e+07,28.994791,3,3880,30.866715,308667.148413
4,1997,3.0,0.020539,0,0.000000,0.000000e+00,0.000000,0,0.000000,0.000000e+00,...,2.372922e+06,2.233840,368,0.959385,5.605145e+07,28.781542,4,3760,31.015382,310153.820188
5,1998,350.0,1.646984,6,0.025061,1.501871e+06,2.506137,1,0.000277,1.661267e+04,...,5.017793e+05,0.460519,362,0.966288,5.790746e+07,28.988650,5,4330,31.976097,319760.971850
6,1999,2012.0,4.476562,5,0.010579,6.498972e+05,1.057929,2,0.000759,4.664040e+04,...,7.126682e+05,0.638061,362,0.977060,6.002186e+07,29.311811,6,4280,31.064743,310647.434694
7,2000,121.0,0.662595,5,0.006855,4.314453e+05,0.685548,4,0.003624,2.280991e+05,...,3.361044e+05,0.293730,359,0.984180,6.193876e+07,29.525387,7,4370,30.776495,307764.947680
8,2001,43.0,0.429151,5,0.009134,5.895391e+05,0.913363,3,0.000575,3.712158e+04,...,2.273640e+05,0.193738,359,0.986769,6.369198e+07,29.603062,8,4340,30.753297,307532.969207
9,2002,190.0,1.100403,6,0.002699,1.785833e+05,0.269936,5,0.023833,1.576763e+06,...,2.929727e+06,2.435623,352,0.929183,6.147252e+07,27.875494,9,4550,32.368562,323685.616409
10,2003,426.0,1.475597,6,0.008020,5.435376e+05,0.802042,3,0.004166,2.823392e+05,...,1.319209e+05,0.107064,358,0.985867,6.681139e+07,29.576003,10,4430,30.797574,307975.736315
11,2004,168.0,0.599590,4,0.001614,1.119904e+05,0.161414,2,0.000584,4.052112e+04,...,1.200697e+06,0.951825,359,0.980496,6.802757e+07,29.414878,11,4230,30.571919,305719.192123
12,2005,43.0,0.314118,4,0.012454,8.841425e+05,1.245405,4,0.011350,8.057428e+05,...,3.843791e+06,2.977904,361,0.922053,6.545870e+07,27.661576,12,4270,32.736113,327361.132759
13,2006,101.0,0.632144,5,0.007969,5.798846e+05,0.796893,2,0.000486,3.536505e+04,...,4.175143e+06,3.155676,357,0.934169,6.797779e+07,28.025074,13,4330,32.014093,320140.933584
14,2007,104.0,0.579524,4,0.002471,1.842290e+05,0.247141,8,0.003941,2.937799e+05,...,6.205738e+06,4.578713,340,0.910338,6.786025e+07,27.310147,14,4600,32.431578,324315.784201
15,2008,85.0,0.347223,4,0.008166,6.231997e+05,0.816564,3,0.005151,3.931577e+05,...,2.551154e+06,1.838494,360,0.953256,7.275229e+07,28.597673,15,4250,31.639089,316390.887623
16,2009,71.0,0.300913,1,0.000387,3.025747e+04,0.038744,9,0.003880,3.030105e+05,...,1.748714e+05,0.123156,354,0.993493,7.758747e+07,29.804801,16,4250,30.257701,302577.005203
17,2010,120.0,0.159006,1,0.000962,7.683503e+04,0.096198,0,0.000000,0.000000e+00,...,1.860637e+05,0.128125,366,0.996708,7.960853e+07,29.901254,17,3860,30.125577,301255.773876
18,2011,15.0,0.030048,0,0.000000,0.000000e+00,0.000000,1,0.000550,4.390775e+04,...,1.429143e+05,0.098412,367,0.997661,7.968460e+07,29.929829,18,3800,30.069470,300694.704749
19,2012,137.0,0.348059,3,0.001201,9.589455e+04,0.120061,2,0.003746,2.991942e+05,...,6.434626e+05,0.443093,363,0.986997,7.883287e+07,29.609916,19,4110,30.454016,304540.161912
20,2013,35.0,0.133965,2,0.001119,8.936952e+04,0.111892,3,0.011423,9.124088e+05,...,2.942382e+05,0.202614,364,0.983774,7.857541e+07,29.513211,20,4050,30.684478,306844.778099
21,2014,7.0,0.033804,0,0.000000,0.000000e+00,0.000000,0,0.000000,0.000000e+00,...,1.572127e+06,1.082577,365,0.980317,7.829930e+07,29.409503,21,3790,30.492081,304920.805890
22,2015,95.0,0.369344,3,0.019489,1.556610e+06,1.948895,5,0.011875,9.484929e+05,...,3.406372e+06,2.345650,355,0.925988,7.395995e+07,27.779628,22,4280,32.964818,329648.175588
23,2016,75.0,0.572170,5,0.026948,2.152380e+06,2.694806,6,0.029929,2.390486e+06,...,6.842871e+06,4.712047,343,0.857449,6.848569e+07,25.723475,23,4590,35.375017,353750.166899
24,2017,130.0,0.587194,5,0.011747,9.382594e+05,1.174712,3,0.014543,1.161555e+06,...,3.671033e+06,2.527898,350,0.927748,7.410058e+07,27.832449,24,4430,32.625769,326257.693366
25,2018,63.0,0.612234,5,0.037204,2.971570e+06,3.720443,10,0.035005,2.795870e+06,...,5.637924e+06,3.882313,340,0.857203,6.846606e+07,25.716103,25,4740,35.944206,359442.061333
26,2019,78.0,0.477017,2,0.007374,5.889323e+05,0.737350,13,0.057191,4.567958e+06,...,6.919819e+06,4.765034,343,0.848798,6.779471e+07,25.463944,26,4560,35.255682,352556.824484
27,2020,898.0,6.134860,19,0.061165,4.885320e+06,6.116481,16,0.081775,6.531471e+06,...,9.257446e+06,6.374739,310,0.741156,5.919719e+07,22.234681,27,6340,40.859012,408590.122870